<!doctype html>
<html lang="en">
<head>
    <title>CC2650</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../css/data_view.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <style>
        .filterable {
            margin-top: 50px;
            margin-left: 20px;
            margin-right: 0;
            padding: 1px;
            max-width: 98%;
        }
        .filterable .panel-heading .pull-right{
            margin-top: 2px;
        }
        .filterable .filters input[disabled]{
            background-color: transparent;
            border: none;
            cursor: auto;
            box-shadow: none;
            padding: 0;
            height: auto;
        }
        .filterable .filters input[disabled]::-webkit-input-placeholder{
            color: #333;
        }
        .filterable .filters input[disabled]::-moz-placeholder{
            color: #333;
        }
        .filterable .filters input[disabled]:-ms-input-placeholder{
            color: #333;
        }
        .my-custom-scrollbar {
            position: relative;
            height: 400px;
            overflow: auto;
            }
        .table-wrapper-scroll-y {
            display: block;
        }
        .btn-link{
            padding: 0;
        }

        /* Prevent scrollbars to appear when waves go out of bound */
        .sonar-wrapper {
        position: relative;
        z-index: 0;
        overflow: hidden;
        padding: 0;
        margin: 0px;
        }

        /* The circle */
        .sonar-emitter {
        position: relative;
        margin: 0 auto;
        /* width: 25px; */
        height: 25px;
        border-radius: 20000px;
        background-color: HSL(195, 100%, 50%);
        }

        /* the 'wave', same shape and size as its parent */
        .sonar-wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20000px;
        background-color: HSL(195, 100%, 50%);
        opacity: 0;
        z-index: -1;
        pointer-events: none;
        }
        .sonar-wave {
        animation: sonarWave 2s linear infinite;
        }

        @keyframes sonarWave {
        from {
            opacity: 0.4;
        }
        to {
            transform: scale(3);
            opacity: 0;
        }
        }
        /* loader */
        
    </style>
</head>
<body>
    <div class="col-md-6 text-center loader" style="margin: 20% 25%;">
        <div class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="loading hide">
    <form action="/logout?_method=DELETE" method="POST">
        <div class="" style="float: right;margin: 5px;">
            <button class="btn btn-sm btn-outline-primary" type="submit" style="background-color: white;margin: 10px;">Log Out</button>
        </div>
        <div class="text-success" style="float: right;margin: 5px;">
            <h4>Hi <%= name %></h4>
        </div>
        <div class="text-primary" style="float: left; font-size: 12em;margin: 5px;">
            <h4><span class=""></span> CC2650</h4>
        </div>
    </form>
    <form class="form-control" class="card">
      <div class="">
        <div class="text-primary">
            <div class="panel panel-primary filterable" style="width: 200%;" id="table_">
                <div class="panel-heading">
                    <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                            <div class="sonar-wave"></div>
                            <div class="pull-left" style="width: 300px;">
                                <h4 class="panel-title" style="margin-right: 10px;margin-top: 30px;">New data</h4>
                            </div>
                            <div class="pull-right">
                                <button href="#" class="btn btn-default btn-xs btn-filter" style="margin-right: 10px;margin-top: 30px;">
                                    <span class="glyphicon glyphicon-filter"></span> Filter
                                </button>
                            </div>
                            <div class="pull-right">
                                <button  type="button" class="btn btn-default btn-xs btn_refreshTbl" style="margin-right: 10px;margin-top: 30px;">
                                    <span class="glyphicon glyphicon-refresh"></span> Refresh
                                </button>
                            </div>
                        </div>
                    <!-- <h3 class="panel-title">New data</h3> -->
                    </div>
                </div>
                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="overflow-x: auto;">
                <div>
                <table class="table responsive-table highlight table-striped table-sm" cellspacing="0" width="100%" id="data-tbl"> 
                    <thead>
                        <tr class="filters" >
                            <th scope="col" style="width:50px"><input type="text" class="form-control"  placeholder="#" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="id" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="sensName" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="date" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="time" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Temp" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Humidity" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Barometer" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Accelerometer" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Magnetometer" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Gyroscope" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Light" [value]="searchValue" disabled></th>
                            <th scope="col" ><input type="text" class="form-control"  placeholder="Battery" [value]="searchValue" disabled></th>
                        </tr>
                    </thead>
                    <tbody class="mytb" style="height: 400px">
                        <%if ((recipes_cont).length > 0) {%>
                            <% var i = 0; %> 
                            <% recipes.forEach(function(recipe) { %>
                            <% i = i+1; var rec = [recipe]%> 
                            <tr row_id= <% i %>>
                            <td style="width: 100px" class="row_data"><%=i%></td>
                            <td class="row_data"><%=recipe.ID%></td>
                            <td class="table-bordered row_data" ><%=recipe.SenName%></td>
                            <td class="row_data"><%=recipe.Date%></td>
                            <td class="table-bordered row_data" ><%=recipe.Time%></td>
                            <td class="row_data"><%=recipe.Temp%></td>
                            <td class="table-bordered row_data" ><%=recipe.Humidity%></td>
                            <td class="row_data"><%=recipe.Barometer%></td>
                            <td class="table-bordered row_data" ><%=recipe.Accelerometer%></td>
                            <td class="row_data"><%=recipe.Magnetometer%></td>
                            <td class="table-bordered row_data" ><%=recipe.Gyroscope%></td>
                            <td class="row_data"><%=recipe.Light%></td>
                            <td class="table-bordered row_data" ><%=recipe.Battery%></td>
                            <td style="width: 100px">
                                <!-- <a class="action-btn edit_me" style="cursor: pointer;" onclick="onEdit('<%=recipe.ID%>')" >
                                    <i class="material-icons" >edit</i>
                                </a> -->
                                <!-- <a class="action-btn" style="float: right; cursor: pointer;" onclick="add('<%=recipe.ID%>')" >
                                    <i class="material-icons">add</i>
                                </a> -->
                                <a class="action-btn table-remove" style="float: right; cursor: pointer;" >
                                    <i class="material-icons text-danger">delete</i>
                                </a>
                                <span class="btn_edit" > <a href="#" class="material-icons btn btn-link " row_id=<% i %> > edit</a> </span>
                                <span class="btn_save"> <a href="#" class="material-icons btn btn-link" row_id=<% i %>> save</a> | </span> 
                                <!--onclick="onDelete('<%=recipe.ID%>')"-->
                                <span class="btn_cancel"> <a href="#" class="material-icons btn btn-link" row_id=<% i %>> cancel</a> | </span>
                                </td>
                            </tr>
                            <% }); %>
                            <% } %>
                            <tr>
                            <td style="text-align: center">End</td>
                            </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            <!-- <button id="send-data"class="btn btn-success btn-sm" style="float: right;margin-right: 20px;">Save</button> -->
        </div>
        </div>
    </form> 
    <!-- ALL DATA -->
    <div class="row" style="margin-top: 600px;">
        <div class="col"></div>
        <div class="col">
            <div class="col-md-5">
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" 
                style="float: right;">
                    <i class="fa fa-download fa-sm text-white-50"></i> Generate Report</a>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                <input id="toggle-event" type="checkbox" checked data-toggle="toggle" data-on="Save" data-off="Stop" 
                data-onstyle="primary" data-offstyle="danger" data-size="small" data-height="25">
                </div>
            </div>
            <div class="col-md-3">
                <i class="fas fa-check-square pull-left save_btn_ok" style="font-size:25px;color:green;margin-left: -18px;"></i>
                <div class="pull-right" style="margin-right: 15px;">
                    <form action="/data/all_data" method="GET" >
                        <button type="submit" class="btn btn-primary btn-sm">Preview data</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!--..................... all data tbl ...................... -->
    

    <!-- .......... -->
  </div>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script> 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="../js/data_view.js" type="script"></script>
  <script>

    $(document).ready(function(){
        setTimeout(function(){ 
            $('.loading').show();
            $('.loading').removeClass('hide');
            $('.loader').hide();
         }, 2000);
        $('.filterable .btn-filter').click(function(e){
            e.preventDefault();
            var $panel = $(this).parents('.filterable'),
            $filters = $panel.find('.filters input'),
            $tbody = $panel.find('.table tbody');
            if ($filters.prop('disabled') == true) {
                $filters.prop('disabled', false);
                $filters.first().focus();
            } else {
                $filters.val('').prop('disabled', true);
                $tbody.find('.no-result').remove();
                $tbody.find('tr').show();
            }
        });
        $('.filterable .filters input').keyup(function(e){
            /* Ignore tab key */
            var code = e.keyCode || e.which;
            if (code == '9') return;
            /* Useful DOM data and selectors */
            var $input = $(this),
            inputContent = $input.val().toLowerCase(),
            $panel = $input.parents('.filterable'),
            column = $panel.find('.filters th').index($input.parents('th')),
            $table = $panel.find('.table'),
            $rows = $table.find('tbody tr');
            /* Dirtiest filter function ever ; */
            var $filteredRows = $rows.filter(function(){
                var value = $(this).find('td').eq(column).text().toLowerCase();
                return value.indexOf(inputContent) === -1;
            });
            /* Clean previous no-result if exist */
            $table.find('tbody .no-result').remove();
            /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
            $rows.show();
            $filteredRows.hide();
            /* Prepend no-result row if all rows are filtered */
            if ($filteredRows.length === $rows.length) {
                $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
            }
        });
        //  for tbl 2
        

        // ////////
        // $('#toggle-event').click(function (event) {
            $('#toggle-event').on('change', function(event) {
                event.preventDefault();
                var rows = [];
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
                rows = ['stop'];
                setTimeout(function(){ 
                    $(document).find('.save_btn_ok').hide();
                },500);
            }
            else {
                $(this).attr('value', 'false');
                $('#data-tbl tbody tr').each(function () {
                    var ID = $(this).find('td').eq(1).text().trim();
                    var SenName = $(this).find('td').eq(2).text().trim();
                    var Dt = $(this).find('td').eq(3).text().trim();
                    var Time = $(this).find('td').eq(4).text().trim();
                    var Temp = $(this).find('td').eq(5).text().trim();
                    var Humidity = $(this).find('td').eq(6).text().trim();
                    var Barometer = $(this).find('td').eq(7).text().trim();
                    var Accelerometer = $(this).find('td').eq(8).text().trim();
                    var Magnetometer = $(this).find('td').eq(9).text().trim();
                    var Gyroscope = $(this).find('td').eq(10).text().trim();
                    var Light = $(this).find('td').eq(11).text().trim();
                    var Battery = $(this).find('td').eq(12).text().trim();
                    const sdt = 'sens_tag_day_'+Dt
                    const tm = 'time_'+Time
                    var row = { [sdt] : { [tm] : { [ID] : { 'ID':ID , 'SenName': SenName, 'Date': Dt, 'Time': Time, 'Temp': Temp, 'Humidity': Humidity, 'Barometer': Barometer ,
                    'Accelerometer': Accelerometer, 'Magnetometer': Magnetometer, 'Gyroscope': Gyroscope, 'Light': Light, 'Battery': Battery
                                } }} };
                    rows.push(row);
                });
            }
     
            // alert(JSON.stringify(rows))
            fetch('/data/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({data:rows})
            }).then((res)=>{
                // console.log(res)
                $(document).find('.save_btn_ok').show();
        });
            // console.log(rows[0]);
            // $.post('@Url.Action("Proccess","Home")', { rows: rows }, function (data) {
            //     console.log(data);
            // });

        });
    // });
    // //////////////////////////////////////////////////////
    $(document).find('.btn_save').hide();
    $(document).find('.btn_cancel').hide();
    $(document).find('.save_btn_ok').hide();
    
   
    //--->button > edit > start	
    $(document).on('click', '.btn_edit', function(event) 
    {
        event.preventDefault();
        var tbl_row = $(this).closest('tr');

        var row_id = tbl_row.attr('row_id');

        tbl_row.find('.btn_save').show();
        tbl_row.find('.btn_cancel').show();
        tbl_row.attr('contenteditable', 'true');
        //hide edit button
        tbl_row.find('.btn_edit').hide(); 

        //make the whole row editable
        tbl_row.find('.row_data')
        .attr('contenteditable', 'true')
        .attr('edit_type', 'button')
        .addClass('text-danger')
        .css('padding','3px')
        // .addClass('bg-success')
        //--->add the original entry > start
        tbl_row.find('.row_data').each(function(index, val) 
        {  
            //this will help in case user decided to click on cancel button
            $(this).attr('original_entry', $(this).html());
        }); 		
        //--->add the original entry > end

    });
    //--->button > edit > end
    //--->button > cancel > start	
    $(document).on('click', '.btn_cancel', function(event) 
    {
        event.preventDefault();

        var tbl_row = $(this).closest('tr');

        var row_id = tbl_row.attr('row_id');

        //hide save and cancel buttons
        tbl_row.find('.btn_save').hide();
        tbl_row.find('.btn_cancel').hide();
        tbl_row.attr('contenteditable', 'false');
        //show edit button
        tbl_row.find('.btn_edit').show();

        //make the whole row editable
        tbl_row.find('.row_data')
        .attr('edit_type', 'click')
        .attr('contenteditable', 'false')	 
        // .removeClass('bg-warning')
        .removeClass('text-danger')
        .css('padding','') 

        tbl_row.find('.row_data').each(function(index, val) 
        {   
            $(this).html( $(this).attr('original_entry') ); 
        });  
    });
    //--->button > cancel > end
    //--->save whole row entery > start	
    $(document).on('click', '.btn_save', function(event) 
    {
        event.preventDefault();
        var tbl_row = $(this).closest('tr');

        var row_id = tbl_row.attr('row_id');
       
        //hide save and cacel buttons
        tbl_row.find('.btn_save').hide();
        tbl_row.find('.btn_cancel').hide();
        tbl_row.attr('contenteditable', 'false');
        //show edit button
        tbl_row.find('.btn_edit').show();


        //make the whole row editable
        tbl_row.find('.row_data')
        .attr('edit_type', 'click')
        .attr('contenteditable', 'false')	
        // .removeClass('bg-warning')
        .removeClass('text-danger')
        .css('padding','') 

        //--->get row data > start
        var arr = {}; 
        var raw_val = []
        tbl_row.find('.row_data').each(function(index, val) 
        {   
            var col_name = $(this).attr('col_name');  
            var col_val  =  $(this).html();
            raw_val.push(col_val)
            arr[col_name] = col_val;
        });
        const sdt = 'sens_tag_day_'+raw_val[3]
        const tm = 'time_'+raw_val[4]
        var row = { [sdt] : { [tm] : { [raw_val[1]] : { 'ID':raw_val[1] , 'SenName': raw_val[2], 'Date': raw_val[3], 'Time': raw_val[4], 'Temp': raw_val[5], 'Humidity': raw_val[6], 'Barometer': raw_val[7] ,
        'Accelerometer': raw_val[8], 'Magnetometer': raw_val[9], 'Gyroscope': raw_val[10], 'Light': raw_val[11], 'Battery': raw_val[12]
                    } } } };
        // alert(JSON.stringify(row))
        fetch('/data/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({data:row})
        });
        //--->get row data > end

        //use the "arr"	object for your ajax call
        $.extend(arr, {row_id:row_id});

        //out put to show
        $('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>')
        
    });
    //--->save whole row entery > end
// //////////////////////////////////////////////
    $('#table_').on('click', '.table-remove', function (event) {
        event.preventDefault();
        var tbl_row = $(this).closest('tr');
        var raw_val = []
        tbl_row.find('.row_data').each(function(index, val) 
        {     
            var col_val  =  $(this).html();
            raw_val.push(col_val)
        });
        const sdt = 'sens_tag_day_'+raw_val[3]
        const tm = 'time_'+raw_val[4]
        var row = { [sdt] : { [tm] : { [raw_val[1]] : { 'ID':raw_val[1] , 'SenName': raw_val[2], 'Date': raw_val[3], 'Time': raw_val[4], 'Temp': raw_val[5], 'Humidity': raw_val[6], 'Barometer': raw_val[7] ,
        'Accelerometer': raw_val[8], 'Magnetometer': raw_val[9], 'Gyroscope': raw_val[10], 'Light': raw_val[11], 'Battery': raw_val[12]
                    } } } };
        // alert(JSON.stringify(row))
        fetch('/data/', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({data:row})
        });
        $(this).parents('tr').detach();
    });
    $('#table_').on('click', '.edit_me', function () {
        $(this).find('tr').contentEditable;
        // alert('recipe')
    });
    });
    // //  ---- refresh >
    const get_data = async () => {
        try {
            const response = await fetch('/data/refresh', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
            });
            const json = await response.json();
            // console.log(JSON.stringify(json.dta));
            console.log(json.count);
            reftbl(json.dta, json.count);
            // console.log(json.count);
            // console.log(json.dta);
            // return json
        } catch (error) {
            console.log(error);
        }
    };
    function reftbl(recipes, recipes_cont){
        var i = 0;
        if(recipes_cont > 0){ if ($('tbody').empty()){
            recipes.forEach(function(recipe) {
            i = i+1;
            if(i == recipes_cont+1 & recipes_cont != 1){return};
            $('tbody').append(
                '<tr row_id = "'+i+'"] >'+
                '<td style="width: 100px" class="row_data">'+i+'</td>'+
                '<td class="row_data">'+recipe.ID+'</td>'+
                '<td class="table-bordered row_data" >'+recipe.SenName+'</td>'+
                '<td class="row_data">'+recipe.Date+'</td>'+
                '<td class="table-bordered row_data" >'+recipe.Time+'</td>'+
                '<td class="row_data">'+recipe.Temp+'</td>'+
                '<td class="table-bordered row_data" >'+recipe.Humidity+'</td>'+
                '<td class="row_data">'+recipe.Barometer+'</td>'+
                '<td class="table-bordered row_data" >'+recipe.Accelerometer+'</td>'+
                '<td class="row_data">'+recipe.Magnetometer+'</td>'+
                '<td class="table-bordered row_data" >'+recipe.Gyroscope+'</td>'+
                '<td class="row_data">'+recipe.Light+'</td>'+
                '<td class="table-bordered row_data" >'+recipe.Battery+'</td>'+
                '<td style="width: 100px">'+
                    '<a class="action-btn table-remove" style="float: right; cursor: pointer;" >'+
                        '<i class="material-icons text-danger">delete</i>'+
                    '</a>'+
                    '<span class="btn_edit" > <a href="#" class="material-icons btn btn-link " row_id='+i +' > edit</a> </span>'+
                    '<span class="btn_save"> <a href="#" class="material-icons btn btn-link" row_id='+ i +'> save</a> | </span>'+ 
                    '<span class="btn_cancel"> <a href="#" class="material-icons btn btn-link" row_id='+ i +'> cancel</a> | </span>'+
                    '</td>'+
                '</tr>'                
            )});
        $('.btn_save').hide();
        $('.btn_cancel').hide();
        $('tbody').append(
            '<tr>'+
            '<td style="text-align: center">End</td>'+
            '</tr>'
        );
         } };
    };
    $(document).on('click', '.btn_refreshTbl', function(event) 
    {
        event.preventDefault();
        get_data();
    });

  </script>
  </body>
  </html>